
#logo-volaris{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 130px;

  @media (max-width: 767px){
    position: absolute;
  }
}

.navbar{
  font-family: 'Lato', sans-serif;
  border-radius: 0px;
  min-height: 60px;
}

.navbar-inverse{
  position: relative;
  background-color: #000;
  .navbar-nav>li>a{
    color: #FFFFFF;
    min-height: 60px;
    line-height: 60px;
  }
}


.navbar-nav>li{

  a{

    padding: 0px 10px;

    span{
      padding-right: 7px;
    }

  }

}

.navbar-brand{
  padding: 10px;
}

.dropdown-menu{
  background-color: #000000;
  border-top: 1px solid #ccc;
  >li{
    border-right: 1px solid #ccc;
    padding-left: 3%;
  }
}

.mega-dropdown-menu .dropdown-header{
  color: #FFFFFF;
  font-size: 14px;
}

.mega-dropdown-menu > li > ul > li > a{
  font-size: 11px;
  color: #999;
  padding: 5px 0;
}

.dropdown-menu li > a{
  font-size: 11px;
  color: #999;
  padding: 5px 0;

  &:hover{
    background-color: transparent;
    color: #FFFFFF;
  }

}
